.attribution {
  font-size: 11px;
  margin-top: 80px;
  text-align: center;
  color: hsl(193, 38%, 86%);
}
.attribution a {
  color: hsl(193, 38%, 86%);
}

.container-layout {
  background-color: hsl(217, 19%, 24%);
  height: 100vh;
  padding-top: 100px;
}

@media only screen and (max-width: 426px) {
  .container-layout {
    padding-left: 16px;
    padding-right: 16px;
  }
}
