* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-font {
  font-weight: 500;
  font-style: normal;
}

.quote {
  font-weight: 800;
  font-size: 28px;
  font-style: normal;
}
